.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#remove-button {
  padding: 4px;
  border-radius: 6px;
  background-color: rgb(255, 105, 105);
}

#remove-button:hover {
  cursor: pointer;
  background-color: rgb(224, 69, 69);
}
